<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLExample2.Properties.Settings.WorkerDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WorkerDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLExample2.Properties.Settings.WorkerDBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\angmcl\Documents\picmess\SQL Project\WorkerDB.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLExample2.Properties.Settings.WorkerDBConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\picmess\SQL Project\WorkerDB.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>